@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "degular-bold";
  src: url(../../assets/fonts/Degular-Fonts/Degular-Bold.otf);
}
@font-face {
  font-family: "degular-semibold";
  src: url(../../assets/fonts/Degular-Fonts/Degular-Semibold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-size: 100% !important;
  background-color: #1e222a;
  overflow-x: hidden;
  color: white;
}

.font-degular-bold {
  font-family: "degular-bold";
}

.font-degular-semibold {
  font-family: "degular-semibold";
}

.font-flower {
  font-family: "Indie Flower", cursive;
}

.ribbon {
  position: absolute;
  height: 100%;
  z-index: -1;
}
.ribbon.one {
  top: 0;
  left: 0;
}
.ribbon.two {
  top: 0;
  right: 0;
}
.ribbon.one {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.ribbon.two {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 3.75rem;
  margin-right: 1rem;
}
.logo p {
  font-size: 2.875rem;
}

@media (max-width: 106.25em) {
  .ribbon {
    height: 50vw;
  }

  .logo img {
    width: 3.25rem;
    margin-right: 1rem;
  }
  .logo p {
    font-size: 2.25rem;
  }
}
@media (max-width: 64em) {
  .logo img {
    width: 2.375rem;
    margin-right: 0.875rem;
  }
  .logo p {
    font-size: 1.75rem;
  }
}
:root {
  --fs-4px: 0.25rem;
  --fs-6px: 0.375rem;
  --fs-8px: 0.5rem;
  --fs-10px: 0.625rem;
  --fs-12px: 0.75rem;
  --fs-14px: 1.125rem;
  --fs-16px: 1rem;
  --fs-18px: 1.125rem;
  --fs-20px: 1.375rem;
  --fs-22px: 1.375rem;
  --fs-24px: 1.5rem;
  --fs-26px: 1.625rem;
  --fs-28px: 1.75rem;
  --fs-30px: 1.875rem;
  --fs-32px: 2rem;
  --fs-34px: 2.125rem;
  --fs-36px: 2.25rem;
  --fs-38px: 2.375rem;
  --fs-40px: 3.125rem;
  --fs-42px: 2.625rem;
  --fs-44px: 2.75rem;
  --fs-46px: 2.875rem;
  --fs-48px: 3rem;
  --fs-50px: 3.125rem;
  --fs-52px: 3.25rem;
  --fs-54px: 3.375rem;
  --fs-56px: 3.5rem;
  --fs-58px: 3.625rem;
  --fs-60px: 3.75rem;
  --fs-62px: 3.875rem;
  --fs-64px: 4rem;
  --fs-66px: 4.125rem;
  --fs-68px: 4.25rem;
  --fs-70px: 4.375rem;
  --fs-72px: 4.5rem;
  --fs-74px: 4.625rem;
  --fs-76px: 4.75rem;
  --fs-78px: 4.875rem;
  --fs-80px: 5rem;
  --fs-82px: 5.125rem;
  --fs-84px: 5.25rem;
  --fs-86px: 5.375rem;
  --fs-88px: 5.5rem;
  --fs-90px: 5.625rem;
  --fs-92px: 5.75rem;
  --fs-94px: 5.875rem;
  --fs-96px: 6rem;
  --fs-98px: 6.125rem;
  --fs-100px: 6.25rem;
  --fs-102px: 6.375rem;
  --fs-104px: 6.5rem;
  --fs-106px: 6.625rem;
  --fs-108px: 6.75rem;
  --fs-110px: 6.875rem;
  --fs-146px: 9.125rem;
  --fs-172px: 10.75rem;
  --fs-168px: 10.5rem;
  --fs-144px: 9rem;
}

/* FONT-SIZES */
.fs-4px {
  font-size: var(--fs-4px);
}

.fs-6px {
  font-size: var(--fs-6px);
}

.fs-8px {
  font-size: var(--fs-8px);
}

.fs-10px {
  font-size: var(--fs-10px);
}

.fs-12px {
  font-size: var(--fs-12px);
}

.fs-14px {
  font-size: var(--fs-14px);
}

.fs-16px {
  font-size: var(--fs-16px);
}

.fs-18px {
  font-size: var(--fs-18px);
}

.fs-20px {
  font-size: var(--fs-20px);
}

.fs-22px {
  font-size: var(--fs-22px);
}

.fs-24px {
  font-size: var(--fs-24px);
}

.fs-26px {
  font-size: var(--fs-26px);
}

.fs-28px {
  font-size: var(--fs-28px);
}

.fs-30px {
  font-size: var(--fs-30px);
}

.fs-32px {
  font-size: var(--fs-32px);
}

.fs-34px {
  font-size: var(--fs-34px);
}

.fs-36px {
  font-size: var(--fs-36px);
}

.fs-38px {
  font-size: var(--fs-38px);
}

.fs-40px {
  font-size: var(--fs-40px);
}

.fs-42px {
  font-size: var(--fs-42px);
}

.fs-44px {
  font-size: var(--fs-44px);
}

.fs-46px {
  font-size: var(--fs-46px);
}

.fs-48px {
  font-size: var(--fs-48px);
}

.fs-50px {
  font-size: var(--fs-50px);
}

.fs-52px {
  font-size: var(--fs-52px);
}

.fs-54px {
  font-size: var(--fs-54px);
}

.fs-56px {
  font-size: var(--fs-56px);
}

.fs-58px {
  font-size: var(--fs-58px);
}

.fs-60px {
  font-size: var(--fs-60px);
}

.fs-62px {
  font-size: var(--fs-62px);
}

.fs-64px {
  font-size: var(--fs-64px);
}

.fs-66px {
  font-size: var(--fs-66px);
}

.fs-68px {
  font-size: var(--fs-68px);
}

.fs-70px {
  font-size: var(--fs-70px);
}

.fs-72px {
  font-size: var(--fs-72px);
}

.fs-74px {
  font-size: var(--fs-74px);
}

.fs-76px {
  font-size: var(--fs-76px);
}

.fs-78px {
  font-size: var(--fs-78px);
}

.fs-80px {
  font-size: var(--fs-80px);
}

.fs-82px {
  font-size: var(--fs-82px);
}

.fs-84px {
  font-size: var(--fs-84px);
}

.fs-86px {
  font-size: var(--fs-86px);
}

.fs-88px {
  font-size: var(--fs-88px);
}

.fs-90px {
  font-size: var(--fs-90px);
}

.fs-92px {
  font-size: var(--fs-92px);
}

.fs-94px {
  font-size: var(--fs-94px);
}

.fs-96px {
  font-size: var(--fs-96px);
}

.fs-98px {
  font-size: var(--fs-98px);
}

.fs-100px {
  font-size: var(--fs-100px);
}

.fs-102px {
  font-size: var(--fs-102px);
}

.fs-104px {
  font-size: var(--fs-104px);
}

.fs-106px {
  font-size: var(--fs-106px);
}

.fs-108px {
  font-size: var(--fs-108px);
}

.fs-110px {
  font-size: var(--fs-110px);
}

.fs-146px {
  font-size: var(--fs-146px);
}

.fs-172px {
  font-size: var(--fs-172px);
}

.fs-168px {
  font-size: var(--fs-168px);
}

.fs-144px {
  font-size: var(--fs-144px);
}

/*  */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-transparent {
  color: transparent;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.hover-underline:hover {
  text-decoration: underline;
}

@media (max-width: 106.25em) {
  .fs-40px {
    font-size: 1.875rem;
  }

  .fs-20px {
    font-size: 1.125rem;
  }

  .fs-14px {
    font-size: 0.875rem;
  }
}
@media (max-width: 80em) {
  .fs-64px {
    font-size: 2.875rem;
  }

  .fs-32px {
    font-size: 1.625rem;
  }
}
@media (max-width: 40em) {
  .fs-40px {
    font-size: 1.625rem;
  }

  .fs-20px {
    font-size: 1rem;
  }

  .fs-64px {
    font-size: 2.25rem;
  }

  .fs-32px {
    font-size: 1.375rem;
  }
}
/* COLORS */
.black {
  color: #000000;
}

.white {
  color: #fafcff;
}

.pink {
  color: #f193b1;
}

.red {
  color: #ef233c;
}

.green {
  color: #02929b;
}

.light-yellow {
  color: #dcf289;
}

.bg-pink {
  background-color: #f193b1;
}

.bg-light-blue {
  background-color: #f5f6f8;
}

.bg-red {
  background-color: #ef233c;
}

.bg-green {
  background-color: #02929b;
}

/* LINEH-HEIGHTS */
.lh-1 {
  line-height: 1;
}

.lh-1_1 {
  line-height: 1.1;
}

.lh-1_2 {
  line-height: 1.2;
}

.lh-1_3 {
  line-height: 1.3;
}

.lh-1_4 {
  line-height: 1.4;
}

.lh-1_5 {
  line-height: 1.5;
}

.lh-1_6 {
  line-height: 1.6;
}

.lh-1_7 {
  line-height: 1.7;
}

.lh-1_8 {
  line-height: 1.8;
}

.lh-1_9 {
  line-height: 1.9;
}

.lh-2 {
  line-height: 2;
}

/* margins */
.mb-5px {
  margin-bottom: 0.3125rem;
}

.mb-10px {
  margin-bottom: 0.625rem;
}

.mb-15px {
  margin-bottom: 0.9375rem;
}

.mb-20px {
  margin-bottom: 1.25rem;
}

.mb-25px {
  margin-bottom: 1.5625rem;
}

.mb-30px {
  margin-bottom: 1.875rem;
}

.mb-35px {
  margin-bottom: 2.1875rem;
}

.mb-40px {
  margin-bottom: 2.5rem;
}

.mb-45px {
  margin-bottom: 2.8125rem;
}

.mb-50px {
  margin-bottom: 3.125rem;
}

.mb-55px {
  margin-bottom: 3.4375rem;
}

.mb-60px {
  margin-bottom: 3.75rem;
}

.mb-70px {
  margin-bottom: 4.375rem;
}

.mb-75px {
  margin-bottom: 4.6875rem;
}

.mb-80px {
  margin-bottom: 5rem;
}

.mb-100px {
  margin-bottom: 6.25rem;
}

.mb-110px {
  margin-bottom: 6.875rem;
}

.mb-120px {
  margin-bottom: 7.5rem;
}

.mb-130px {
  margin-bottom: 8.125rem;
}

.mb-140px {
  margin-bottom: 8.75rem;
}

.mb-150px {
  margin-bottom: 9.375rem;
}

.mb-160px {
  margin-bottom: 10rem;
}

.mb-170px {
  margin-bottom: 10.625rem;
}

.mb-180px {
  margin-bottom: 11.25rem;
}

.mb-190px {
  margin-bottom: 11.875rem;
}

.mb-200px {
  margin-bottom: 12.5rem;
}

.mb-250px {
  margin-bottom: 15.625rem;
}

.margin-center {
  margin: 0 auto;
}

.mt-88px {
  margin-top: 5.5rem;
}

.mt-100px {
  margin-top: 6.25rem;
}

.mt-110px {
  margin-top: 6.875rem;
}

.mt-120px {
  margin-top: 7.5rem;
}

@media (max-width: 106.25em) {
  .mb-50px {
    margin-bottom: 2.5rem;
  }

  .mb-45px {
    margin-bottom: 2.1875rem;
  }

  .mb-35px {
    margin-bottom: 1.5625rem;
  }

  .mb-55px {
    margin-bottom: 2.5rem;
  }

  .mb-80px {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 64em) {
  .mb-100px {
    margin-bottom: 3.75rem;
  }

  .mb-150px {
    margin-bottom: 5rem;
  }

  .mb-120px {
    margin-bottom: 5rem;
  }

  .mb-140px {
    margin-bottom: 5rem;
  }

  .mb-80px {
    margin-bottom: 3.125rem;
  }

  .mb-70px {
    margin-bottom: 2.5rem;
  }

  .mb-80px {
    margin-bottom: 2.5rem;
  }
}
.opacity-1 {
  opacity: 1;
}

.opacity-0_1 {
  opacity: 0.1;
}

.opacity-0_2 {
  opacity: 0.2;
}

.opacity-0_3 {
  opacity: 0.3;
}

.opacity-0_4 {
  opacity: 0.4;
}

.opacity-0_5 {
  opacity: 0.5;
}

.opacity-0_6 {
  opacity: 0.6;
}

.opacity-0_7 {
  opacity: 0.7;
}

.opacity-0_8 {
  opacity: 0.8;
}

.opacity-0_9 {
  opacity: 0.9;
}

/* paddings */
.py-30px {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.py-50px {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.py-70px {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.py-100px {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.py-150px {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
}

.py-200px {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}

.pt-88px {
  padding-top: 5.5rem;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

@media (max-width: 80em) {
  .py-50px {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 64em) {
  .py-100px {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
/* BORDER-RADIUSES */
.rounded {
  border-radius: 50%;
}

.radius-2px {
  border-radius: 0.125rem;
}

.radius-4px {
  border-radius: 0.25rem;
}

.radius-6px {
  border-radius: 0.375rem;
}

.radius-8px {
  border-radius: 0.5rem;
}

.radius-10px {
  border-radius: 0.625rem;
}

.radius-12px {
  border-radius: 0.75rem;
}

.radius-14px {
  border-radius: 0.875rem;
}

.radius-16px {
  border-radius: 1rem;
}

.radius-18px {
  border-radius: 1.125rem;
}

.radius-20px {
  border-radius: 1.25rem;
}

.radius-22px {
  border-radius: 1.375rem;
}

.radius-24px {
  border-radius: 1.5rem;
}

.radius-26px {
  border-radius: 1.625rem;
}

.radius-28px {
  border-radius: 1.75rem;
}

.radius-30px {
  border-radius: 1.875rem;
}

.radius-32px {
  border-radius: 2rem;
}

.radius-34px {
  border-radius: 2.125rem;
}

.radius-36px {
  border-radius: 2.25rem;
}

.radius-38px {
  border-radius: 2.375rem;
}

.radius-40px {
  border-radius: 2.5rem;
}

/* FONTS-WEIGHTS */
.weight-9 {
  font-weight: 900;
}

.weight-8 {
  font-weight: 800;
}

.weight-7 {
  font-weight: 700;
}

.weight-6 {
  font-weight: 600;
}

.weight-5 {
  font-weight: 500;
}

.weight-4 {
  font-weight: 400;
}

.weight-3 {
  font-weight: 300;
}

.weight-2 {
  font-weight: 200;
}

.text-indent-5 {
  text-indent: 5%;
}

.text-indent-10 {
  text-indent: 10%;
}

.text-indent-15 {
  text-indent: 15%;
}

.text-indent-20 {
  text-indent: 20%;
}

.text-indent-25 {
  text-indent: 25%;
}

.text-indent-30 {
  text-indent: 30%;
}

.text-indent-35 {
  text-indent: 35%;
}

.text-indent-40 {
  text-indent: 40%;
}

.text-indent-45 {
  text-indent: 45%;
}

.text-indent-50 {
  text-indent: 50%;
}

ul {
  list-style-type: disc;
}

li {
  list-style: disc;
  list-style-type: disc;
}

.list-style-type-none {
  list-style-type: none;
}

.list-style-type-none li {
  list-style: none;
  list-style-type: none;
}

.list-style-type-decimal {
  list-style-type: decimal;
}

.list-style-type-decimal li {
  list-style-type: decimal;
  list-style: decimal;
}

.list-style-position-inside {
  list-style-position: inside;
}

.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101 !important;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.black-screen.show {
  opacity: 1;
  pointer-events: visible;
}

.blend-mode-screen {
  mix-blend-mode: screen !important;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-transparent {
  background-color: transparent;
}

.container {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 106.25em) {
  .container {
    width: 80%;
  }
}
@media (max-width: 80em) {
  .container {
    width: 90%;
  }
}

.container-2 {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}
@media (max-width: 106.25em) {
  .container-2 {
    width: 80%;
  }
}
@media (max-width: 40em) {
  .container-2 {
    width: 90%;
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.w-fit-content {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-end {
  justify-content: flex-end;
}

.hidden {
  overflow: hidden;
}

.static {
  position: static;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

.type-number-reset::-webkit-inner-spin-button, .type-number-reset::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* GRID CLASSES */
.grid-col-span-2 {
  grid-column: span 2;
}

.tooltip {
  position: absolute;
  bottom: 130%;
  right: 10%;
  background-color: #dcf289;
  padding: 0.25rem 0.5rem;
  border-radius: 6.20148px;
  color: black;
  font-weight: 600;
  cursor: auto;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: calc(100% - 0.1875rem);
  left: 50%;
  transform: translateX(-50%);
  width: 0.375rem;
  height: 0.375rem;
  background-color: #dcf289;
  transform: rotate(45deg);
  z-index: -1;
}

.tooltip-parent:hover .tooltip {
  opacity: 1;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.main header {
  padding: 3.125rem 0;
}
.main header .sub-title {
  max-width: 25.25rem;
  width: 100%;
  margin: 0 auto;
}
.main header .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main header .buttons button:nth-child(1) {
  width: 10.125rem;
}
.main header .buttons button:nth-child(2) {
  width: 9rem;
}
.main header .buttons > :not(:last-child) {
  margin-right: 1rem;
}
.main header .footer {
  display: none;
}
.main .phones {
  flex: 1;
  margin: 0 auto;
  width: 38%;
  display: flex;
  align-items: center;
  margin-top: 12%;
  z-index: 50;
  position: relative;
  --arrow-width: 2.8vw;
  --mobile-font-size: 0.9vw;
}
.main .phones .phone {
  width: 100%;
  transform: scale3d(1, 1, 1);
  transition: all 0.4s ease;
  opacity: 0.5;
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
}
.main .phones .phone .mobile-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  outline: 1px solid transparent;
}
.main .phones .phone-assets {
  position: absolute;
  z-index: 50;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.4s ease;
}
.main .phones .phone-assets > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.main .phones .phone-assets .phone-title {
  font-size: var(--mobile-font-size);
  text-align: center;
  width: 100vw;
}
.main .phones .phone-assets .arrow {
  transition: all 0.4s ease;
  width: var(--arrow-width) !important;
}
.main .phones .one .phone-assets {
  left: 88%;
  top: -10%;
  align-items: center;
}
.main .phones .one .phone-assets .phone-title {
  transform: rotate(7deg);
}
.main .phones .one .phone-assets .arrow {
  margin-right: var(--arrow-width);
}
.main .phones .two .phone-assets {
  left: 80%;
  top: -10%;
  align-items: center;
}
.main .phones .two .phone-assets .phone-title {
  transform: rotate(7deg);
}
.main .phones .two .phone-assets .arrow {
  margin-right: var(--arrow-width);
}
.main .phones .three .phone-assets {
  right: 84%;
  top: -10%;
  align-items: center;
}
.main .phones .three .phone-assets .phone-title {
  transform: rotate(7deg);
}
.main .phones .three .phone-assets .arrow {
  margin-left: var(--arrow-width);
  transform: rotateY(180deg);
}
.main .phones .phone.active {
  transform: scale3d(1.4, 1.4, 1.4) translateY(-20px);
  z-index: 10;
  opacity: 1;
}
.main .phones .phone.active .phone-assets {
  opacity: 1;
}
.main .phones .phone.active .mobile-img {
  filter: drop-shadow(0px 0px 30px rgb(0, 0, 0));
}
.main .phones div.active-2 {
  transform: scale3d(1, 1, 1) translateY(16%);
  z-index: -20;
}
.main footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.main footer .links {
  display: flex;
  align-items: center;
}
.main footer .links > :not(:last-child) {
  margin-right: 1.125rem;
}
.main footer .links a {
  opacity: 0.6;
}

@media (max-height: 740px) and (max-width: 1000px) {
  .main .phones {
    width: 80% !important;
    max-width: 300px !important;
    margin-top: 0 !important;
  }
}
@media (max-height: 660px) and (max-width: 1000px) {
  .main .phones {
    max-width: 180px !important;
  }
}
@media (max-width: 106.25em) {
  .main header .buttons button:nth-child(1) {
    width: 132px;
  }
  .main header .buttons button:nth-child(2) {
    width: 114px;
  }
}
@media (max-width: 80em) {
  .main header {
    padding: 1.875rem 0;
  }
  .main .phones {
    width: 32%;
    margin-top: 8%;
  }
}
@media (max-width: 64em) {
  .main .buttons button:nth-child(1) {
    width: 7rem !important;
  }
  .main .buttons button:nth-child(2) {
    width: 6.375rem !important;
  }
  .main .buttons > :not(:last-child) {
    margin-right: 1rem;
  }
  .main .phones {
    --arrow-width: 1.8rem;
    --mobile-font-size: 0.6rem !important;
    max-width: 320px;
    width: 84% !important;
    margin-top: 1.25rem !important;
    margin-bottom: 2% !important;
  }
  .main .phones .phone.active {
    transform: scale3d(1.4, 1.4, 1.4) translateY(0px) !important;
  }
  .main footer {
    position: static !important;
    top: unset !important;
    bottom: unset !important;
    left: unset !important;
    transform: unset !important;
    margin: 0 auto;
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 47.5em) {
  .main footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.875rem;
    text-align: center;
  }
  .main footer > :not(:last-child) {
    margin-bottom: 0.875rem;
  }
}
@media (max-width: 40em) {
  .main header .buttons button:nth-child(1) {
    width: 112px;
  }
  .main header .buttons button:nth-child(2) {
    width: 94px;
  }
}
@media (max-width: 31.25em) {
  .main .phones {
    --arrow-width: 1.6rem;
  }
}
@media (max-width: 22.5em) {
  .main footer .fs-14px {
    font-size: 0.75rem;
  }
  .main footer .links > :not(:last-child) {
    margin-right: 0.75rem;
  }
}
.about-us .about-ribbon {
  position: absolute;
}
.about-us .about-ribbon.one {
  left: 0;
  top: 20%;
  z-index: -1;
  width: 20vw;
}
.about-us .about-ribbon.two {
  right: 0;
  top: 80%;
  z-index: -1;
  width: 20vw;
}
.about-us nav {
  padding: 2.5rem 0;
  margin-bottom: 2.5rem;
}
.about-us .about-card {
  display: flex;
  align-items: center;
  background-color: #252933;
  padding: 0.5rem;
  border-radius: 1rem;
}
.about-us .about-card aside {
  flex: 1;
  margin-right: 2.5rem;
  padding: 3.625rem 3.625rem;
}
.about-us .about-card img {
  flex: 1;
}
.about-us .team {
  padding: 4.25rem 3.5rem;
  background: #252933;
  border-radius: 1rem;
}
.about-us .team .team-cards-wrapper {
  display: grid;
  gap: 3.75rem;
}
.about-us .team .team-card {
  display: flex;
}
.about-us .team .team-card aside {
  flex: 1;
}
.about-us .team .team-card div {
  flex: 0.6;
  margin-right: 3.4375rem;
}
.about-us .team .team-card div img {
  width: 100%;
}
.about-us footer header {
  display: flex;
  justify-content: center;
}
.about-us footer header > :not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 80em) {
  .about-us .about-card {
    padding: 2.375rem 2.375rem;
  }
  .about-us .about-card img {
    width: 40%;
  }
  .about-us .about-card aside {
    flex: 2;
    margin-right: 2.5rem;
    padding: unset;
  }
}
@media (max-width: 64em) {
  .about-us .about-ribbon.one {
    top: 40%;
  }
  .about-us .about-card {
    flex-direction: column-reverse;
  }
  .about-us .about-card img {
    width: 100%;
  }
  .about-us .about-card aside {
    margin-right: 0rem;
    margin-top: 1.25rem;
  }
}
@media (max-width: 47.5em) {
  .about-us nav {
    margin-bottom: 0rem;
  }
  .about-us .team {
    padding: 2.375rem 2.25rem;
  }
  .about-us .team .team-card {
    flex-direction: column;
  }
  .about-us .team .team-card div {
    flex: 1;
    margin-right: 0rem;
    margin-bottom: 1.875rem;
  }
  .about-us .team .team-card div img {
    width: 100%;
  }
}
@media (max-width: 40em) {
  .about-us .about-card {
    padding: 1.625rem 1.625rem;
  }
  .about-us .team {
    padding: 1.625rem 1.625rem;
  }
}
@media (max-width: 31.25em) {
  .about-us footer header > :not(:last-child) {
    margin-right: 0.625rem;
  }
  .about-us footer header a {
    font-size: 0.75rem;
  }
}
