@use "../utils" as u;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: u.$font-main;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-size: 100% !important;
  background-color: #1e222a;
  overflow-x: hidden;
  color: white;
}

.font-degular-bold {
  font-family: u.$font-degular-bold;
}
.font-degular-semibold {
  font-family: u.$font-degular-semibold;
}
.font-flower {
  font-family: u.$font-flower;
}
